# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/GEC_MarioBrosClone/v17/Browse.VC.db
.vs/GEC_MarioBrosClone/v17/Browse.VC.db-shm
.vs/GEC_MarioBrosClone/v17/Browse.VC.db-wal
.vs/GEC_MarioBrosClone/v17/Browse.VC.opendb
.vs/GEC_MarioBrosClone/FileContentIndex/afc929eb-4e60-4e4a-94d4-fdaf737deb8c.vsidx
.vs/GEC_MarioBrosClone/FileContentIndex/148c6be0-8f2f-4ac5-84f3-20fa35b1b442.vsidx
.vs/GEC_MarioBrosClone/FileContentIndex/3c545f7e-77de-4b8c-be1a-474aa2133b85.vsidx
.vs/GEC_MarioBrosClone/FileContentIndex/2d19c12f-1dad-4f97-8332-f9f8d9f186ea.vsidx
.vs/GEC_MarioBrosClone/FileContentIndex/0240104a-dc4e-493f-9bf3-8f6f99d39cea.vsidx
